#login-wrapper {
    width: 360px;
    padding:  8%;
    margin: auto;
}

.access-form {
    position: relative;
    z-index: 1;
    background: #74c69dff;
    border: solid 1px white;
    border-radius: 3px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 10px 0 white;
}

input {
    font-family: "Roboto", sans-serif;
    border: 0;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.button-form {
    background: #40916cff;
    color: white;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.button-form:hover, .button-form:focus {
    background: #2d6a4fff;
}

.button-form:active {
    background: #b7e4c7ff;
    color: #40916cff;
}

.info-form {
    font-size: 0.9em;
    color: white;
}

.info-form + a {
    font-size: 0.9em;
    color: #1b4332ff;
}


/* Parte para la visibilidad de los formularios */
#login-form {
    display: block;
}

#register-form {
    display: none;
}

#forgot-form {
    display: none;
}