/*
--nyanza: #d8f3dcff;
--turquoise-green: #b7e4c7ff;
--turquoise-green-2: #95d5b2ff;
--ocean-green: #74c69dff;
--ocean-green-2: #52b788ff;
--illuminating-emerald: #40916cff;
--bottle-green: #2d6a4fff;
--brunswick-green: #1b4332ff;
--dark-jungle-green: #081c15ff;
*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #b7e4c7ff;
    border-radius: 0.75em;
    width:min-content;
    padding: 1.5em;
}

body {
    background-color: #d8f3dcff;
    color: #1b4332ff;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}